/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* Table of Contents
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */

/*
1. GENERAL STYLES
  1.1 NavBar Styles
2. HEADER
3. PORTFOLIO
4. SKILLS / CONTACT SECTION
5. FOOTER
6. MORE.HTML MIXTAPE SECTION / IMPRINT / AGB / DATA PRIVACY
7. EFFECTS
  7.1 Parallax.js for Mousemove Effect
  7.2 Midnight.js Styles
8. ANIMATIONS
  8.1 Hover Animation Dubstep Hover HL
  8.2 Keyframes for Moving and Rotating Animations of Elements in Header
  8.3 Arrow Animation Hover Links
  8.4 Fade-In of Elements
  8.5 Typed.js
  8.6 SVG Animaton for Header Nav transforming a Button Shape
9. RESPONSIVE STYLES (MEDIA QUERIES)
  9.1 Animation Link Hovers SlidingLine

*/




/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* 1. GENERAL STYLES
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */

body {
  margin: 0;
}

progress { vertical-align: baseline; }

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a { background-color: transparent; /* 1 */ -webkit-text-decoration-skip: objects; /* 2 */ }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/*
BOX SIZING

*/
html, body, div, article, section, main, footer, header, form, fieldset, pre,
code, p, ul, ol, li, dl, dt, dd, textarea, input[type="email"],
input[type="number"], input[type="password"], input[type="tel"],
input[type="text"], input[type="url"], .border-box { box-sizing: border-box; }
/*

/* Responsive images! */
img { max-width: 100%; }


@font-face {
    font-family: BrandonGrotesqueWeb-Bold;
    font-weight: bold;
    src: url("fonts/BrandonGrotesqueWeb-Bold.otf") format("opentype");
}

.brandon {
  font-family: BrandonGrotesqueWeb-Bold;
  font-weight: normal;
  font-style: normal;
}

.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

h1, h2, h3, h4, h5, h6 ul a {
  font-family: BrandonGrotesqueWeb-Bold;
  font-weight: normal;
  font-style: normal;
  background: none;
}

h1 {
  line-height: 1;
  letter-spacing: -.05em;
  text-transform: uppercase;
  z-index: 1;
}

#portfolio div div h2 {
  margin: 0;
}

h1::selection {
  background: #151515; /* WebKit/Blink Browsers */
  color: #fff;
}

h1::-moz-selection {
  background: #151515; /* Gecko Browsers */
  color: #fff;
}

span::selection {
  background: #151515; /* WebKit/Blink Browsers */
  color: #fff;
}

span::-moz-selection {
  background: #151515; /* Gecko Browsers */
  color: #fff;
}

li::selection {
  background: #151515; /* WebKit/Blink Browsers */
  color: #fff;
}

li::-moz-selection {
  background: #151515; /* Gecko Browsers */
  color: #fff;
}

p {
  font-family: 'Muli', sans-serif;
}

p::selection {
  background: #151515; /* WebKit/Blink Browsers */
  color: #fff;
}

p::-moz-selection {
  background: #151515; /* Gecko Browsers */
  color: #fff;
}

a::selection {
  background: #151515; /* WebKit/Blink Browsers */
  color: #fff;
}

a::-moz-selection {
  background: #151515; /* Gecko Browsers */
  color: #fff;
}

picture {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
}

object {
  pointer-events: none;
}

.muli {
  font-family: 'Muli', sans-serif;
}

/* 1.1 NavBar Styles */
nav {
  z-index: 9;
  width: 100%;
  background-color: #fff;
  background: transparent;
}

nav li {
  display: inline-table;
  color: rgba(0, 0, 0,0.0);
  font-family: BrandonGrotesqueWeb-Bold;
}

nav a {
  opacity: 0;
}

nav ul li a:hover {
    border-bottom: 2px solid;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
}

.logo {
  display: table-cell;
  padding-left: 1rem;
}

nav div ul {
  display: table-cell;
  vertical-align: middle;
  float: right;
  display: block;
  padding-right: 1rem;
  text-transform: uppercase;
}

nav div ul li:nth-child(-n+2) {
  display: none;
  margin-right: 1rem;
}

nav div ul li a {
  text-decoration: none;
}


/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* 2. HEADER STYLES
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
header {
  width: 100%;
  height: 100vh;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header > div:first-of-type {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: relative;
}

.headerSecondary {
  height: 10vh;
}

.heroNav {
  padding-left: 0;
  padding-top: 4rem;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
}

.heroNav li a {
  text-decoration: none;
  color: #777;
}

.heroNav li a:focus, .heroNav li a:hover {
  color: #000;
}

.item {
  margin: 0 auto;
  text-align: center;
}

.midnightHeader.default {
  background: none;
  color: black;
}
.midnightHeader.white {
  background: white;
  color: black;
}
.midnightHeader.blue {
  background: blue;
  color: white;
}




/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* 3. PORTFOLIO
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */

.portfolioDescription {
  width: 80%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  padding-top: 2rem;
  position: relative;
}

.portfolioDescription div {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 4rem;
}

.portfolioDescription h2 {
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 2.25rem
}

.portfolioDescription p {
  line-height: 1.5;
  font-size: 1rem;
}

.portfolioDescription div div {
  padding-bottom: 0;
}

.portfolioDescription object {
  padding-right: 1rem;
}

.portfolioDescription a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  line-height: 1.5;
  font-size: 1rem;
  display: table;
}

.goldschnee {
  color: #4A3A2F;
  background-color: #FBE0CD;
  position: relative;
  padding-top: 4rem;
}

.goldschnee a {
  color: #4A3A2F;
}

.goldschneeMark::selection {
  background: #FBE0CD; /* WebKit/Blink Browsers */
  color: #fff;
}
.goldschneeMark::-moz-selection {
  background: #FBE0CD; /* Gecko Browsers */
  color: #fff;
}

.masterarbeit {
  color: #0D2233;
  background-color: #45ABFF;
  position: relative;
  padding-top: 4rem;
}

.masterarbeit a {
  color: #0D2233;
}

.masterarbeitMark::selection {
  background: #0D2233; /* WebKit/Blink Browsers */
  color: #45ABFF;
}
.masterarbeitMark::-moz-selection {
  background: #0D2233; /* Gecko Browsers */
  color: #45ABFF;
}

.hockeytut {
  color: #D0D0D0;
  background-color: #151515;
  position: relative;
  padding-top: 4rem;
}

.hockeytut a {
  color: #D0D0D0;
  background-color: #151515;
}

.hockeytutMark::selection {
  background: #fff; /* WebKit/Blink Browsers */
  color: #151515;
}
.hockeytutMark::-moz-selection {
  background: #fff; /* Gecko Browsers */
  color: #151515;
}

.jaegermeister {
  background-color: #000;
  color: #ff4600;
  position: relative;
  padding-top: 4rem;
}

.jaegermeister a {
  background-color: #000;
  color: #ff4600;
}

.jaegermeisterMark::selection {
  background: #ff4600; /* WebKit/Blink Browsers */
  color: #000;
}
.jaegermeisterMark::-moz-selection {
  background: #ff4600; /* Gecko Browsers */
  color: #000;
}

.moonlanding {
  background-color: #F3DBEF;
  color: #302B2F;
  position: relative;
  padding-top: 4rem;
}

.moonlanding a  {
  background-color: #F3DBEF;
  color: #302B2F;
}

.moonlandingMark::selection {
  background: #302B2F; /* WebKit/Blink Browsers */
  color: #F3DBEF;
}
.moonlandingMark::-moz-selection {
  background: #302B2F; /* Gecko Browsers */
  color: #F3DBEF;
}

.skyviv {
  background-color: #262953;
  color: #D3D4DC;
  position: relative;
  padding-top: 4rem;
}

.skyviv a {
  background-color: #262953;
  color: #D3D4DC;
}

.skyvivMark::selection {
  background: #D3D4DC; /* WebKit/Blink Browsers */
  color: #262953;
}
.skyvivMark::-moz-selection {
  background: #D3D4DC; /* Gecko Browsers */
  color: #262953;
}

.bnbapp {
  background-color: #003C4C;
  color: #E5EBED;
  position: relative;
  padding-top: 4rem;
}

.bnbapp a {
  background-color: #003C4C;
  color: #E5EBED;
}

.bnbappMark::selection {
  background: #E5EBED; /* WebKit/Blink Browsers */
  color: #003C4C;
}
.bnbappMark::-moz-selection {
  background: #E5EBED; /* Gecko Browsers */
  color: #003C4C;
}

.alley {
  background-color: #FF2E62;
  color: #610922;
  position: relative;
  padding-top: 4rem;
}

.alley a {
  background-color: #FF2E62;
  color: #610922;
}

.alleyMark::selection {
  background: #610922; /* WebKit/Blink Browsers */
  color: #FF2E62;
}
.alleyMark::-moz-selection {
  background: #610922; /* Gecko Browsers */
  color: #FF2E62;
}

.bnbdaily {
  background-color: #24A5BA;
  color: #0A3137;
  position: relative;
  padding-top: 4rem;
}

.bnbdaily a {
  background-color: #24A5BA;
  color: #0A3137;
}

.bnbdailyMark::selection {
  background: #0A3137; /* WebKit/Blink Browsers */
  color: #24A5BA;
}
.bnbdailyMark::-moz-selection {
  background: #0A3137; /* Gecko Browsers */
  color: #24A5BA;
}

.society {
  background-color: #F2F2EE;
  color: #30302F;
  position: relative;
  padding-top: 4rem;
}

.society a {
  background-color: #F2F2EE;
  color: #30302F;
}

.societyMark::selection {
  background: #30302F; /* WebKit/Blink Browsers */
  color: #F2F2EE;
}
.societyMark::-moz-selection {
  background: #30302F; /* Gecko Browsers */
  color: #F2F2EE;
}



/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* 4. ABOUT US / SERVICES / CONTACT SECTION
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */

/*Services*/
#service {
  background: #fff;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

#service picture {
  position: relative;
}

.aboutUs {
  background-color: #fff;
  position: relative;
}

.aboutUs > div:first-child {
  width: 90%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.aboutUs > div div:first-child {
  display: table-cell;
  vertical-align: middle;
}

.aboutUs h2 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 2.25rem;
  text-align: center;
  padding-top: .25rem;
  text-decoration: none;
}

.aboutUs div:nth-of-type(3) {
  height: 100%;
  width: 80%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.aboutUs div:nth-of-type(3) div {
  display: table-cell;
  vertical-align: middle;
}

.aboutUs div:nth-of-type(3) p {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-size: 1rem;
  max-width: 36em;
}

.services {
  background: linear-gradient(to right bottom, #fff 50%, #fafafa 50%);
}

.services > div {
  position: relative;
}

.services > div > div:first-of-type div {
  width: 90%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.services > div > div:first-of-type div div {
  display: table-cell;
  vertical-align: middle;
}

.services h2 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 2.25rem;
  text-align: center;
  padding-top: .25rem
}

.serviceIcons {
  height: 100%;
  width: 90%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.serviceIcons > div {
  display: table-cell;
  vertical-align: middle;
}

.serviceIcons > div > div {
  width: 50%;
  float: left;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.serviceIcons > div > div > div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.serviceIcons p {
  line-height: 1.5;
  font-size: 1rem;
  max-width: 34em;
  text-align: center;
}

.gradient {
  background: linear-gradient(to right bottom, #fafafa 50%, #fff 50%);
  padding: 8rem;
}

.gradient2 {
  background: linear-gradient(to right bottom, #fff 50%, #fafafa 50%);
  padding: 8rem;
}

#service > div > div:nth-child(2){
  margin-left: auto;
  margin-right: auto;
}

/* About Us */
.icon {
  width: 100px;
}

.names{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
  margin-bottom: 40px;
}

.names p {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  display: table-cell;
}

/* Contact*/
#contact {
  width: 100%;
  background: #fff;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#contact div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#contact h2 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 2.25rem;
  text-align: center;
}

.telephone,
.email {
  color: #176aff;
  text-decoration: none;
  display: block;
  line-height: 1.5em;
  font-size: 1.5rem;
}

.telephone:hover {
  color: #004DD7;
}

.email:hover {
  color: #004DD7;
}

#contact p {
  line-height: 1.5em;
  font-size: 1.5rem;
}





/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* 5. FOOTER
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */

.wantMore {
  background-color: #9091A1;
}

.wantMore:hover {
  background-color: #676777;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.wantMoreColor1 {
  color: #706f70;
}

.wantMoreColor2 {
  color: #9B9B9B;
}

.wantMore > div {
  display: table;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%;
}

.wantMore > div > div {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 2rem;
}

.wantMore h2  {
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.55rem;
  color: #fff;
  text-align: center;
  padding-top: 1rem;
}

.wantMore p  {
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  max-width: 34em;
  margin-left: auto;
  color: #fff;
  margin-right: auto;
}

.wantMore > div > div > div {
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  display: block;

}

.wantMore a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  line-height: 1.5;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.wantMore a div {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.wantMore a div object {
  padding-right: 1rem;
  display: inline;
}

.myProfile {
  background-color: #fafafa;
}

.myProfileColor1 {
  color: #706f70;
}

.myProfileColor2 {
  color: #9B9B9B;
}

.myProfile > div {
  display: table;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%;
}

.myProfile > div > div {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 2.5rem;
}

.myProfile h2  {
  line-height: 2.25;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.55rem;
  text-align: center;
}

.myProfile p  {
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
}

.myProfile > div > div > div {
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  display: block;

}

.myProfile a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
}

.myProfile a:hover {
  color: #151515;
}

.myProfile a div {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.myProfile a div object {
  padding-right: 1rem;
  display: inline;
}

.pdf {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  padding-bottom: 0.8rem;
}

.linkedin {
  color: #3664A2;
  background-color: #eff3f8;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.linkedin:hover {
  color: #fff;
  background-color: #3664A2;
}

.linkedin:focus {
  color: #fff;
  background-color: #3664A2;
}

.linkedin:active {
  color: #fff;
  background-color: #3664A2;
}

.instagram {
  color: #D72A7C;
  background-color: #fceff5;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.instagram:hover {
  color: #fff;
  background-color: #D72A7C;
}

.vk {
  color: #176AFF;
  background-color: #edf4ff;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.vk:hover {
  color: #fff;
  background-color: #176AFF;
}

footer {
  background-color: #FAFAFA;
  text-align: center;
  padding-bottom: .5rem;
}

.societyCC {
  width: 100%;
}

.societyCC a div {
  width: 100%;
  float: left;
  padding: 2rem;
}

.societyCC {
  font-size: 1.5rem;
}

.footerFont {
  color: #BAB5B2;
  text-decoration: none;
  font-size: .875rem;
}

.underline-hover:hover, .underline-hover:focus { text-decoration: underline; }

.smallPrint {
  max-width: 100%;
  margin: 1rem;

}

/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* 6. MORE.HTML MIXTAPE SECTION / IMPRINT / AGB / DATA PRIVACY
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */

.mixtape1 {
  background: #fcca43;
  padding-bottom: 4rem;
}

.mixtape1 > div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mixtape1 > div > div {
  width: 90%;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.mixtape1 h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin-top: 8rem;
}

.mixtape1 img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mixtape2 {
  background: #fde8e7;
  padding-bottom: 4rem;
}

.mixtape2 > div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mixtape2 img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mixtape3 {
  background: #111111;
  padding-bottom: 4rem;
}

.mixtape3 > div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mixtape3 img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mixtapeColor {
  color: #c8a134;
}

.takeMeBack {
  display: table;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  background-color: #fff;
}

.takeMeBack:hover {
  background-color: #fafafa;
}

.takeMeBack > div {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.takeMeBack > div > div {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.takeMeBack > div > div > div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}

.takeMeBack span {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
}

.takeMeBack span:hover {
  color: #151515;
}

.takeMeBackColor1Â {
  color: #fff;
}

/*AGB*/
#imprint {
  background-color: #fff;
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 2rem;
}

#imprint > div {
  margin-left: auto;
  margin-right: auto;
}

#imprint > div > div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#imprint h3 {
  text-transform: uppercase;
}

#imprint h4 {
  text-transform: uppercase;
}

#imprint p {
  line-height: 1.5;
  font-size: 1rem;
}

.imprintSecondary {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;

}

.noJavaScript {
  height: 100vh;
  width: 100%;
  display: table;
}

.noJavaScript > div {
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
}

.noJavaScript h2 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-style: italic;
  text-align: center;
}

.noJavaScript p {
  line-height: 1;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
}



/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* 7. EFFECTS
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */

/* 7.1 Parallax.js for Mousemove Effect */
.container {
  position: fixed;
  width: 100%;
  max-height: 100vh;
  top: 0;
  background: linear-gradient(-10deg, #fff 60%, #fafafa 40%);
  z-index: -1;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

li.layer.kreis1Place{
  top: 35% !important;
}

li.layer.kreis2Place{
  top: 55% !important;
}

li.layer.kreis3Place{
  top: 85% !important;
}

li.layer.kreis4Place{
  top: 78% !important;
}

li.layer.kreis5Place{
  top: 15% !important;
}

li.layer.kreis6Place{
  top: 47% !important;
}

li.layer.kreis7Place{
  top: 3% !important;
}

li.layer.kreis8Place{
  top: 69% !important;
}

li.layer.kreis89lace{
  top: 54% !important;
}

li.layer.quadrat1Place{
  top: 52% !important;
}

li.layer.quadrat2Place{
  top: 8% !important;
}

li.layer.quadrat3Place{
  top: 64% !important;
}

li.layer.quadrat4Place{
  top: 25% !important;
}

li.layer.quadrat5Place{
  top: 87% !important;
}

li.layer.polygon1Place{
  top: 25% !important;
}

li.layer.polygon2Place{
  top: 5% !important;
}

li.layer.polygon3Place{
  top: 45% !important;
}


/* Starting with Styling for single Elements */
.layer:nth-child(1) {
  opacity: 0;
  height: 100vh;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 1;
  margin-left: 85%;
  height: 100px;
  width: 100px;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
  opacity: 1;
  margin-left: 15%;
  height: 100px;
  width: 100px;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
  opacity: 1;
  margin-left: 85%;
  height: 100px;
  width: 100px;
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 15%;
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 40%;
}
.layer:nth-child(6) button {
}

.layer:nth-child(7) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 25%;
}
.layer:nth-child(7) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(8) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 78%;
}
.layer:nth-child(8) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(9) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 14%;
}
.layer:nth-child(9) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(10) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 14%;
}
.layer:nth-child(10) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(11) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 34%;
}
.layer:nth-child(11) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(12) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 64%;
}
.layer:nth-child(12) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(13) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 73%;
}
.layer:nth-child(13) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(14) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 55%;
}
.layer:nth-child(14) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(15) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left:45%;
}
.layer:nth-child(15) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(16) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 63%;
}
.layer:nth-child(16) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(17) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 3%;
}
.layer:nth-child(17) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(18) {
  opacity: 1;
  height: 100px;
  width: 100px;
  margin-left: 65%;
}
.layer:nth-child(18) button {
  -webkit-transform: rotate(30deg);
}

/* Classes to define Element-Size, Color and Shape */
.kreis1 {
  border-radius: 50%;
  background: #ff3260;
  height: 50%;
  width: 50%;
}

.kreis2 {
  border-radius: 50%;
  background: #f2f2ee;
  height: 10%;
  width: 10%;
}

.kreis3 {
  border-radius: 50%;
  background: #151515;
  height: 30%;
  width: 30%;
}

.kreis4 {
  border-radius: 50%;
  background: #f4dbef;
  height: 15%;
  width: 15%;
}

.kreis5 {
  border-radius: 50%;
  background: #24A5BA;
  height: 23%;
  width: 23%;
}

.kreis6 {
  border-radius: 50%;
  background: #ff3260;
  height: 25%;
  width: 25%;
}

.kreis7 {
  border-radius: 50%;
  background: #f4dbef;
  height: 16%;
  width: 16%;
}

.kreis8 {
  border-radius: 50%;
  background: #ff3260;
  height: 16%;
  width: 16%;
}

.kreis9 {
  border-radius: 50%;
  background: #f4dbef;
  height: 12%;
  width: 12%;
}

.quadrat1 {
  background: #262854;
  height: 30%;
  width: 30%;
  display: block;
  position: absolute;
  -webkit-animation: moveX 20.34s linear 0s infinite alternate, moveYbottom 20.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -moz-animation: moveX 20.34s linear 0s infinite alternate, moveYbottom 20.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -o-animation: moveX 20.34s linear 0s infinite alternate, moveYbottom 20.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  animation: moveX 20.34s linear 0s infinite alternate, moveYbottom 20.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
}

.quadrat2 {
  background: #f4dbef;
  height: 35%;
  width: 35%;
  display: block;
  position: absolute;
  -webkit-animation: moveX 20.34s linear 0s infinite alternate, moveYbottom 20.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -moz-animation: moveX 20.34s linear 0s infinite alternate, moveYbottom 20.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -o-animation: moveX 20.34s linear 0s infinite alternate, moveYbottom 20.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  animation: moveX 20.34s linear 0s infinite alternate, moveYbottom 20.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
}

.quadrat3 {
  background: #151515;
  height: 25%;
  width: 25%;
  display: block;
  position: absolute;
  -webkit-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -moz-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -o-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
}

.quadrat3 {
  background: #151515;
  height: 25%;
  width: 25%;
  display: block;
  position: absolute;
  -webkit-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -moz-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -o-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
}

.quadrat4 {
  background: #fce0cc;
  height: 25%;
  width: 25%;
  display: block;
  position: absolute;
  -webkit-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -moz-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -o-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
}

.quadrat5 {
  background: #fce0cc;
  height: 25%;
  width: 25%;
  display: block;
  position: absolute;
  -webkit-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -moz-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  -o-animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
  animation: moveX 25.34s linear 0s infinite alternate, moveYbottom 21.06s linear 0s infinite alternate, spin 40000ms linear 0s infinite alternate;
}

.polygon1 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #fce0cc;
    position: absolute;
  -webkit-animation: moveX 34.74s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
  -moz-animation: moveX 34.34s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
  -o-animation: moveX 34.34s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
  animation: moveX 34.34s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
}

.polygon2 {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 35px solid #24a5ba;
    position: absolute;
  -webkit-animation: moveX 34.74s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
  -moz-animation: moveX 34.34s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
  -o-animation: moveX 34.34s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
  animation: moveX 34.34s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
}

.polygon3 {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 35px solid #24a5ba;
    position: absolute;
  -webkit-animation: moveX 34.74s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
  -moz-animation: moveX 34.34s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
  -o-animation: moveX 34.34s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
  animation: moveX 34.34s linear 0s infinite alternate, moveY 42.06s linear 0s infinite alternate, spin 75300ms linear 0s infinite alternate;
}


/* 7.2 Midnight.js Styles */
.midnightHeader.default {
  background: rgba (255,255,255,0);
  color: black;
}

.dtMidnight{
  display: inline-table;
  /*height:100%;*/
}

.fixed {
  position: fixed;
}

.logoSvg {
  width: 175px;
  height: 50px;
}


/* Midnight.js NavBar Style fÃ¼r Goldschnee*/
.midnightHeader.goldschneeMidnight {
  background: rgba(253, 239, 230, 0.94);
  color: black;
}

.midnightHeader.goldschneeMidnight a {
  color: rgba(74, 58, 47, 1);
}

.midnightHeader.goldschneeMidnight a.workNav {
  color: rgba(110, 97, 88, 1);
}

.midnightHeader.goldschneeMidnight a {
  opacity: 1;
}

.midnightHeader.goldschneeMidnight #LetterP1, #LetterI1, #LetterX, #LetterE, #LetterL, #LetterP2, #LetterI2, #LetterN, #LetterK, #BlackSquare {
  fill: #4A3A2F;
}

.midnightHeader.goldschneeMidnight #PinkSquare {
  fill: #f27fbe;
}

/* Midnight.js NavBar Style fÃ¼r Die-Masterarbeit.de*/
.midnightHeader.masterarbeitMidnight {
  background: rgba(124, 196, 255, 0.94);
  color: black;
}

.midnightHeader.masterarbeitMidnight a {
  color: rgba(37, 58, 76, 1);
}

.midnightHeader.masterarbeitMidnight a.workNav {
  color: rgba(80, 97, 111, 1);
}

.midnightHeader.masterarbeitMidnight a {
  opacity: 1;
}

.midnightHeader.masterarbeitMidnight #LetterP1, #LetterI1, #LetterX, #LetterE, #LetterL, #LetterP2, #LetterI2, #LetterN, #LetterK, #BlackSquare {
  fill: #0D2233;
}

.midnightHeader.masterarbeitMidnight #PinkSquare {
  fill: #e6007e;
}

/* Midnight.js NavBar Style fÃ¼r ExuseMe*/
.midnightHeader.hockeytutMidnight {
  background: rgba(30, 30, 30, 0.94);
  color: black;
}

.midnightHeader.hockeytutMidnight a {
  color: rgba(208, 208, 208, 1);
}

.midnightHeader.hockeytutMidnight a.workNav {
  color: rgba(231, 231, 231, 1);
}

.midnightHeader.hockeytutMidnight a {
  opacity: 1;
}

.midnightHeader.hockeytutMidnight #LetterP1,
.midnightHeader.hockeytutMidnight #LetterI1,
.midnightHeader.hockeytutMidnight #LetterX,
.midnightHeader.hockeytutMidnight #LetterE,
.midnightHeader.hockeytutMidnight #LetterL,
.midnightHeader.hockeytutMidnight #LetterP2,
.midnightHeader.hockeytutMidnight #LetterI2,
.midnightHeader.hockeytutMidnight #LetterN,
.midnightHeader.hockeytutMidnight #LetterK,
.midnightHeader.hockeytutMidnight #BlackSquare {
  fill: #D0D0D0;
}

/* Midnight.js NavBar Style fÃ¼r jaegermeister*/
.midnightHeader.jaegermeisterMidnight {
  background: rgba(25, 25, 25, 0.94);
  color: black;
}

.midnightHeader.jaegermeisterMidnight a {
  color: rgba(208, 208, 208, 1);
}

.midnightHeader.jaegermeisterMidnight a.workNav {
  color: rgba(255, 125, 76, 1);
}

.midnightHeader.jaegermeisterMidnight a {
  opacity: 1;
}

.midnightHeader.jaegermeisterMidnight #LetterP1,
.midnightHeader.jaegermeisterMidnight #LetterI1,
.midnightHeader.jaegermeisterMidnight #LetterX,
.midnightHeader.jaegermeisterMidnight #LetterE,
.midnightHeader.jaegermeisterMidnight #LetterL,
.midnightHeader.jaegermeisterMidnight #LetterP2,
.midnightHeader.jaegermeisterMidnight #LetterI2,
.midnightHeader.jaegermeisterMidnight #LetterN,
.midnightHeader.jaegermeisterMidnight #LetterK,
.midnightHeader.jaegermeisterMidnight #BlackSquare {
  fill: #D0D0D0;
}


/* Midnight.js NavBar Style fÃ¼r Moonlanding*/
.midnightHeader.moonlandingMidnight {
  background: rgba(245, 226, 242, 0.94);
  color: black;
}

.midnightHeader.moonlandingMidnight a {
  color: rgba(48, 43, 47, 1);
}

.midnightHeader.moonlandingMidnight a.workNav {
  color: rgba(89, 85, 88, 1);
}

.midnightHeader.moonlandingMidnight a {
  opacity: 1;
}

.midnightHeader.moonlandingMidnight #LetterP1,
.midnightHeader.moonlandingMidnight #LetterI1,
.midnightHeader.moonlandingMidnight #LetterX,
.midnightHeader.moonlandingMidnight #LetterE,
.midnightHeader.moonlandingMidnight #LetterL,
.midnightHeader.moonlandingMidnight #LetterP2,
.midnightHeader.moonlandingMidnight #LetterI2,
.midnightHeader.moonlandingMidnight #LetterN,
.midnightHeader.moonlandingMidnight #LetterK,
.midnightHeader.moonlandingMidnight #BlackSquare {
  fill: #302B2F;
}

/* Midnight.js NavBar Style fÃ¼r SkyVIV*/
.midnightHeader.skyvivMidnight {
  background: rgba(59, 62, 100, 0.94);
  color: black;
}

.midnightHeader.skyvivMidnight a {
  color: rgba(211, 212, 220, 1);
}

.midnightHeader.skyvivMidnight a.workNav {
  color: rgba(228, 229, 234, 1);
}

.midnightHeader.skyvivMidnight a {
  opacity: 1;
}

.midnightHeader.skyvivMidnight #LetterP1,
.midnightHeader.skyvivMidnight #LetterI1,
.midnightHeader.skyvivMidnight #LetterX,
.midnightHeader.skyvivMidnight #LetterE,
.midnightHeader.skyvivMidnight #LetterL,
.midnightHeader.skyvivMidnight #LetterP2,
.midnightHeader.skyvivMidnight #LetterI2,
.midnightHeader.skyvivMidnight #LetterN,
.midnightHeader.skyvivMidnight #LetterK,
.midnightHeader.skyvivMidnight #BlackSquare {
  fill: #D3D4DC;
}

/* Midnight.js NavBar Style bnbapp*/
.midnightHeader.bnbappMidnight {
  background: rgba(25, 79, 93, 0.94);
  color: black;
}

.midnightHeader.bnbappMidnight a {
  color: rgba(208, 208, 208, 1);
}

.midnightHeader.bnbappMidnight a.workNav {
  color: rgba(231, 231, 231, 1);
}

.midnightHeader.bnbappMidnight a {
  opacity: 1;
}

.midnightHeader.bnbappMidnight #LetterP1,
.midnightHeader.bnbappMidnight #LetterI1,
.midnightHeader.bnbappMidnight #LetterX,
.midnightHeader.bnbappMidnight #LetterE,
.midnightHeader.bnbappMidnight #LetterL,
.midnightHeader.bnbappMidnight #LetterP2,
.midnightHeader.bnbappMidnight #LetterI2,
.midnightHeader.bnbappMidnight #LetterN,
.midnightHeader.bnbappMidnight #LetterK,
.midnightHeader.bnbappMidnight #BlackSquare {
  fill: #E5EBED;
}

/* Midnight.js NavBar Style*/
.midnightHeader.alleyMidnight {
  background: rgba(255, 66, 113, 0.94);
  color: black;
}

.midnightHeader.alleyMidnight a {
  color: rgba(97, 9, 34, 1);
}

.midnightHeader.alleyMidnight a.workNav {
  color: rgba(112, 33, 56, 1);
}

.midnightHeader.alleyMidnight a {
  opacity: 1;
}

.midnightHeader.alleyMidnight #LetterP1,
.midnightHeader.alleyMidnight #LetterI1,
.midnightHeader.alleyMidnight #LetterX,
.midnightHeader.alleyMidnight #LetterE,
.midnightHeader.alleyMidnight #LetterL,
.midnightHeader.alleyMidnight #LetterP2,
.midnightHeader.alleyMidnight #LetterI2,
.midnightHeader.alleyMidnight #LetterN,
.midnightHeader.alleyMidnight #LetterK,
.midnightHeader.alleyMidnight #BlackSquare {
  fill: #610922;
}

.midnightHeader.alleyMidnight #PinkSquare {
  fill: #cf0071;
}

/* Midnight.js NavBar Style bnbdaily*/
.midnightHeader.bnbdailyMidnight {
  background: rgba(57, 174, 192, 0.94);
  color: black;
}

.midnightHeader.bnbdailyMidnight a {
  color: rgba(10, 49, 55, 1);
}

.midnightHeader.bnbdailyMidnight a.workNav {
  color: rgba(34, 69, 75, 1);
}

.midnightHeader.bnbdailyMidnight a {
  opacity: 1;
}

.midnightHeader.bnbdailyMidnight #LetterP1 {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #LetterI1 {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #LetterX {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #LetterE {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #LetterL {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #LetterP2 {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #LetterI2 {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #LetterN {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #LetterK {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #BlackSquare {
  fill: #0A3137;
}

.midnightHeader.bnbdailyMidnight #PinkSquare {
  fill: #cf0071;
}

/* Midnight.js NavBar Style */
.midnightHeader.societyMidnight {
  background: rgba(244, 244, 241, 0.94);
  color: black;
}

.midnightHeader.societyMidnight a {
  color: rgba(48, 48, 47, 1);
}

.midnightHeader.societyMidnight a.workNav {
  color: rgba(35, 35, 35, 0.7);
}

.midnightHeader.societyMidnight a {
  opacity: 1;
}

.midnightHeader.societyMidnight #LetterP1,
.midnightHeader.societyMidnight #LetterI1,
.midnightHeader.societyMidnight #LetterX,
.midnightHeader.societyMidnight #LetterE,
.midnightHeader.societyMidnight #LetterL,
.midnightHeader.societyMidnight #LetterP2,
.midnightHeader.societyMidnight #LetterI2,
.midnightHeader.societyMidnight #LetterN,
.midnightHeader.societyMidnight #LetterK,
.midnightHeader.societyMidnight #BlackSquare {
  fill: #30302F;
}

/* Midnight.js NavBar Style Normal*/
.midnightHeader.aboutMidnight {
  background: rgba(255, 255, 255, 0.94);
  color: black;
}

.midnightHeader.aboutMidnight a {
  color: rgba(48, 48, 47, 1);
}

.midnightHeader.aboutMidnight a.skillsNav {
  color: rgba(35, 35, 35, 0.7);
}

.midnightHeader.aboutMidnight a {
  opacity: 1;
}

.midnightHeader.aboutMidnight #LetterP1,
.midnightHeader.aboutMidnight #LetterI1,
.midnightHeader.aboutMidnight #LetterX,
.midnightHeader.aboutMidnight #LetterE,
.midnightHeader.aboutMidnight #LetterL,
.midnightHeader.aboutMidnight #LetterP2,
.midnightHeader.aboutMidnight #LetterI2,
.midnightHeader.aboutMidnight #LetterN,
.midnightHeader.aboutMidnight #LetterK,
.midnightHeader.aboutMidnight #BlackSquare {
  fill: #30302F;
}

/* Midnight.js NavBar Style Contact*/
.midnightHeader.contactMidnight {
  background: rgba(255, 255, 255, 0.94);
  color: black;
}

.midnightHeader.contactMidnight a {
  color: rgba(48, 48, 47, 1);
}

.midnightHeader.contactMidnight a.contactNav {
  color: rgba(35, 35, 35, 0.7);
}

.midnightHeader.contactMidnight a {
  opacity: 1;
}

.midnightHeader.contactMidnight #LetterP1,
.midnightHeader.contactMidnight #LetterI1,
.midnightHeader.contactMidnight #LetterX,
.midnightHeader.contactMidnight #LetterE,
.midnightHeader.contactMidnight #LetterL,
.midnightHeader.contactMidnight #LetterP2,
.midnightHeader.contactMidnight #LetterI2,
.midnightHeader.contactMidnight #LetterN,
.midnightHeader.contactMidnight #LetterK,
.midnightHeader.contactMidnight #BlackSquare {
  fill: #30302F;
}

/* Midnight.js NavBar Style Mixtape#1 */
.midnightHeader.mixtape1Midnight {
  background: rgba(252, 212, 104, 0.94);
  color: black;
}

.midnightHeader.mixtape1Midnight a {
  color: rgba(140, 112, 37, 1);
}

.midnightHeader.mixtape1Midnight a {
  opacity: 1;
}

.midnightHeader.mixtape1Midnight #LetterP1,
.midnightHeader.mixtape1Midnight #LetterI1,
.midnightHeader.mixtape1Midnight #LetterX,
.midnightHeader.mixtape1Midnight #LetterE,
.midnightHeader.mixtape1Midnight #LetterL,
.midnightHeader.mixtape1Midnight #LetterP2,
.midnightHeader.mixtape1Midnight #LetterI2,
.midnightHeader.mixtape1Midnight #LetterN,
.midnightHeader.mixtape1Midnight #LetterK,
.midnightHeader.mixtape1Midnight #BlackSquare {
  fill: #4b3c14;
}

/* Midnight.js NavBar Style Mixtape#2 */
.midnightHeader.mixtape2Midnight {
  background: rgba(228, 209, 208, 0.54);
  color: black;
}

.midnightHeader.mixtape2Midnight a {
  color: rgba(91, 83, 83, 1);
}

.midnightHeader.mixtape2Midnight a {
  opacity: 1;
}

.midnightHeader.mixtape2Midnight #LetterP1,
.midnightHeader.mixtape2Midnight #LetterI1,
.midnightHeader.mixtape2Midnight #LetterX,
.midnightHeader.mixtape2Midnight #LetterE,
.midnightHeader.mixtape2Midnight #LetterL,
.midnightHeader.mixtape2Midnight #LetterP2,
.midnightHeader.mixtape2Midnight #LetterI2,
.midnightHeader.mixtape2Midnight #LetterN,
.midnightHeader.mixtape2Midnight #LetterK,
.midnightHeader.mixtape2Midnight #BlackSquare {
  fill: #5B5353;
}

/* Midnight.js NavBar Style Mixtape#3 */
.midnightHeader.mixtape1Midnight {
  background: rgba(252, 212, 104, 0.94);
  color: black;
}

.midnightHeader.mixtape1Midnight a {
  color: rgba(140, 112, 37, 1);
}

.midnightHeader.mixtape1Midnight a {
  opacity: 1;
}

.midnightHeader.mixtape1Midnight #LetterP1,
.midnightHeader.mixtape1Midnight #LetterI1,
.midnightHeader.mixtape1Midnight #LetterX,
.midnightHeader.mixtape1Midnight #LetterE,
.midnightHeader.mixtape1Midnight #LetterL,
.midnightHeader.mixtape1Midnight #LetterP2,
.midnightHeader.mixtape1Midnight #LetterI2,
.midnightHeader.mixtape1Midnight #LetterN,
.midnightHeader.mixtape1Midnight #LetterK,
.midnightHeader.mixtape1Midnight #BlackSquare {
  fill: #4b3c14;
}

/* Midnight.js NavBar Style */
.midnightHeader.agbMidnight {
  background: rgba(255, 255, 255, 0.94);
  color: black;
}

.midnightHeader.agbMidnight a {
  color: rgba(48, 48, 47, 1);
}

.midnightHeader.agbMidnight a {
  opacity: 1;
}

.midnightHeader.agbMidnight #LetterP1,
.midnightHeader.agbMidnight #LetterI1,
.midnightHeader.agbMidnight #LetterX,
.midnightHeader.agbMidnight #LetterE,
.midnightHeader.agbMidnight #LetterL,
.midnightHeader.agbMidnight #LetterP2,
.midnightHeader.agbMidnight #LetterI2,
.midnightHeader.agbMidnight #LetterN,
.midnightHeader.agbMidnight #LetterK,
.midnightHeader.agbMidnight #BlackSquare {
  fill: #30302F;
}



/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* 8. ANIMATIONS
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */

/* 8.1 Hover Animation fÃ¼r Dubstep Hover Ã¼ber HL */
.dubstepHover:hover {
  animation: dubstep 1s 1 ease;
}

@keyframes dubstep {
  0% {
    text-shadow: 0 0 0 #fff;
  }
  40% {
    text-shadow: 3px 0 0 #e6007e;
  }
  43% {
    text-shadow: 3px 0 0 #24a5ba, 15px 0 0 #ff2e62, -7px 0 0 #f4dbef;
    color: #f1f1f1;
  }
  44% {
    text-shadow: 3px 0 0 #fbe0cd, 15px 2px 0 #24a5ba, -7px -1.5px 0 #fbe0cd;
    color: rgba(0, 0, 0, 0.2);
  }
  45% {
    text-shadow: 3px 0 0 #24a5ba, 15px 0 0 #e6007e, -7px 0 0 #fbe0cd;
    color: #f1f1f1;
  }
  100% {
    text-shadow: 0 0 0 #fff;
  }
}

/* 8.2 Keyframes for Moving and Rotating Animations of Elements in Header */
@-webkit-keyframes spin {
    from {
        -webkit-transform:rotate(0deg);
      }

    to {
        -webkit-transform:rotate(360deg);
      }
}

@-webkit-keyframes moveXright {
  from { right: 0; } to { right: 100%; }
}
@-moz-keyframes moveXright {
  from { right: 0; } to { right: 100%; }
}
@-o-keyframes moveXright {
  from { right: 0; } to { right: 100%; }
}
@keyframes moveXright {
  from { right: 0; } to { right: 100%; }
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 100%; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 100%; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 100%; }
}
@keyframes moveX {
  from { left: 0; } to { left: 100%; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@keyframes moveY {
  from { top: 0; } to { top: 100%; }
}

@-webkit-keyframes moveYbottom {
  from { bottom: 0; } to { bottom: 100%; }
}
@-moz-keyframes moveYbottom {
  from { bottom: 0; } to { bottom: 100%; }
}
@-o-keyframes moveYbottom {
  from { bottom: 0; } to { bottom: 100%; }
}
@keyframes moveYbottom {
  from { bottom: 0; } to { bottom: 100%; }
}

/* 8.3 Arrow Animation Hover Links */
.arrowAnimate > div div :hover .arrowAnimateChild{
    -moz-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    -o-transform: translate(5px, 0px);
    -webkit-transform: translate(5px, 0px);
    transform: translate(5px, 0px)
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}

.arrowAnimatePortfolio > div div div :hover .arrowAnimatePortfolioChild {
    -moz-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    -o-transform: translate(5px, 0px);
    -webkit-transform: translate(5px, 0px);
    transform: translate(5px, 0px)
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}

.arrowAnimatePortfolioChildÂ {
  display: inline;
}

.arrowAnimate2 :hover .arrowAnimateChild2{
    -moz-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    -o-transform: translate(5px, 0px);
    -webkit-transform: translate(5px, 0px);
    transform: translate(5px, 0px)
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}

/* 8.4 Fade-In of Elements */
.hideme
{
  opacity:0;
}

/* 8.5 Typed.js */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    padding-right: 9px;
    font-family: sans-serif;
    font-weight: 500;
    color: #151515;
    position: relative;
    top: 1px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.element {
  padding-top: .25rem;
}

.element1 {
  margin-left: 20px;
}

.element2 {
  padding-top: .25rem;
}

/* 8.6 SVG Animaton for Header Nav transforming a Button Shape */
.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 0px;
  fill: transparent;
  stroke: #151515;
  border-bottom: 0px solid black;
  transition: stroke-width 0.6s, stroke-dashoffset 0.6s, stroke-dasharray 0.6s;
}

.textAnimate {
  top: -48px;
  text-align: center;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */
/* 9. RESPONSIVE STYLES (MEDIA QUERIES)
/* â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” */

/* Laptop L */
@media screen and (max-width: 1400px) {
    .kreis5 {
        display: none;
    }

    .quadrat4 {
      display: none;
    }
}

/* iPhone 6 */
@media screen and (max-width: 667px) {

    .kreis1 {
      width: 25%;
      height: 25%;
    }

    .kreis7 {
        display: none;
    }

    .societyCC a div {
      padding: 1rem;
    }

}

/* Avoid small screens NS NotSmall */
@media screen and (min-width: 30em) {

  h1 {
    font-size: 6rem;
  }

  picture {
    position: absolute;
  }

  nav div div a {
    vertical-align: middle;
  }

  .portfolioDescription {
    height: 100vh;
  }

  .aboutUs h2 {
    font-size: 5rem;
  }

  .names{
    width: 50%;
  }

  .services h2 {
    font-size: 5rem;
  }

  .services > div > div:nth-of-type(2) {
    width: 80%;
  }

  #contact h2 {
    font-size: 5rem;
  }

  .societyCC {
    font-size: 1.25rem;
  }

  .noJavaScript p {
    font-size: 1.25rem;
  }

  /* 9.1 Animation Link Hovers  */
  .sliding-u-l-r-l {
      display: inline-block;
      position: relative;
      padding-bottom: 3px;
  }
  .sliding-u-l-r-l:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1.5px;
      width: 0;
      transition: width 0s ease, background .5s ease;
  }
  .sliding-u-l-r-l:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1.5px;
      width: 0;
      background: rgba(0,0,0,0.6);
      transition: width .5s ease;
  }
  .sliding-u-l-r-l:hover:before {
      width: 100%;
      background: rgba(0,0,0,0.6);
      transition: width .5s ease;
  }
  .sliding-u-l-r-l:hover:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease;
  }

  /* Animation Link Hovers  */
  .sliding-u-l-r-l-w {
      display: inline-block;
      position: relative;
      padding-bottom: 3px;
  }
  .sliding-u-l-r-l-w:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1.5px;
      width: 0;
      transition: width 0s ease, background .5s ease;
  }
  .sliding-u-l-r-l-w:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1.5px;
      width: 0;
      background: rgba(255,255,255,0.6);
      transition: width .5s ease;
  }
  .sliding-u-l-r-l-w:hover:before {
      width: 100%;
      background: rgba(255,255,255,0.6);
      transition: width .5s ease;
  }
  .sliding-u-l-r-l-w:hover:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease;
  }

  /* Animation Link Hovers */
  .sliding-u-l-r-l-b {
      display: inline-block;
      position: relative;
      padding-bottom: 1px;
  }
  .sliding-u-l-r-l-b:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1.5px;
      width: 0;
      transition: width 0s ease, background .5s ease;
  }
  .sliding-u-l-r-l-b:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 1.5px;
      width: 0;
      background: #176aff;
      transition: width .5s ease;
  }
  .sliding-u-l-r-l-b:hover:before {
      width: 100%;
      background: #176aff;
      transition: width .5s ease;
  }
  .sliding-u-l-r-l-b:hover:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease;
  }
}

/* Breakpoint M Medium */
@media screen and (min-width: 30em) and (max-width: 60em) {
  picture {
    position: relative;
  }

  .portfolioDescription {
    height: 100%;
  }

  .portfolioDescription p {
    max-width: 48rem;
  }

  #imprint div div {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .imprintSecondary {
    width: 50%;
  }

  .noJavaScript > h2 {
    font-size: 5rem
  }

  .mixtape1 h2 {
    font-size: 5rem;
  }
}

/* Breakpoint L Large */
@media screen and (min-width: 60em) {
  .logo {
    padding-left: 4rem;
  }

  nav div ul {
    padding-right: 4rem;
  }

  nav div ul li:nth-child(-n+2) {
    display: inline;
  }

  .portfolioDescription p {
    max-width: 20em;
  }

  .serviceIcons > div > div {
    width: 20%;
  }
/*
  .serviceIcons > div > div:nth-child(5) {
    width: 40%;

  }
  .serviceIcons > div > div:nth-child(6) {
    width: 20%;
  }
  .serviceIcons > div > div:nth-child(7) {
    width: 40%;
  }

  .serviceIcons > div > div:last-child  {
    width: 20%;
  }
*/

  footer > div:first-child a div {
    width: 33.333%;
  }

  #imprint > div > div {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .imprintSecondary {
    width: 50%;
  }

  .noJavaScript h2 {
    font-size: 5rem
  }

  .mixtape1 h2 {
    font-size: 5rem;
  }
}